<%- include('header.ejs')%>
  <h1>Error</h1>
  <p>
  <ul>
    <li>
      <%= error %>
    </li>
  </ul>
  </p>
  <center>
    <a href="javascript:window.history.back();">Back</a>
  </center>
  <%- include('footer.ejs')%>