<%- include('header.ejs')%>
  <h1>Meu Forum</h1>
  <a href="/posts/create" class="link">Create Post</a>
  <% if (posts.length> 0) { %>
    <ul>
      <% posts.forEach(function(post) { %>
        <li>
          <a href="/posts/view/<%= post.id %>">
            <%= post.title %>
          </a>
        </li>
        <% }); %>
    </ul>
    <% } else { %>
      <p>No posts found.</p>
      <% } %>
        <%- include('footer.ejs')%>