<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Posts</title>
</head>

<body>
  <h1>Meu Forum</h1>
  <a href="/posts/create">Create Post</a>
  <% if (posts.length> 0) { %>
    <ul>
      <% posts.forEach(function(post) { %>
        <li>
          <a href="/posts/view/<%= post.id %>">
            <%= post.title %>
          </a>
        </li>
        <% }); %>
    </ul>
    <% } else { %>
      <p>No posts found.</p>
      <% } %>
</body>

</html>